* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.padding-div {
  padding: 0 5rem;
}
/* Part 1 - NAVIGATION */
.header {
  border-bottom: 1px solid #ebe3e3;
  box-shadow: 8px 1px 25px #ebe3e3;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 124rem;
  margin: 0 auto;
  height: 8rem;
}
.logo-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.logo-img {
  height: 5rem;
  width: 5rem;
}

.title-img {
  width: 14.9rem;
  height: 2.6rem;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  list-style: none;
  /* background-color: green; */
  padding-left: 6rem;
}
.nav-link,
.nav-link:link,
.nav-link:active {
  text-decoration: none;
  color: #000;
  font-family: "BPG Nino Mtavruli";
  font-size: 1.4rem;
  font-weight: 400;
}

.search-signin {
  display: flex;
  gap: 1.8rem;
}
.search-form {
  border: 0.5px solid #585858;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0.8rem;
  width: 26rem;
}
.input-field {
  border: none;
  border-radius: 6px;
  outline: none;
  font-family: "BPG Nino Mtavruli";
  color: #444;
  font-size: 1.4rem;
  font-weight: 400;
}
.search-btn {
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: inherit;
}

.login-btn {
  font-family: "BPG Nino Mtavruli";
  padding: 1.2rem;
  border-radius: 8px;
  background: #dcf343;
  border: none;
  color: #000;
  width: 10.2rem;
}
.search-btn:hover,
.learn-more-btn:hover,
.login-btn:hover {
  cursor: pointer;
}

/* SECTION 1 */
.section-one {
  /* background-image: url(../images/top-sect-photos/Vector\ 207.svg);
  background-repeat: no-repeat;
  background-size: 22%;
  background-position: 98% top; */
}
.section-one-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.6rem;
  max-width: 124rem;
  margin: 0 auto;
  background-image: url(../images/top-sect-photos/Vector\ 208.svg),
    url(../images/top-sect-photos/Vector\ 207.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 22%;
  background-position: 5rem 25rem, 100% top;
}
.all-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.6rem;
  margin-top: 10.4rem;
}
.success-heading {
  color: #000;
  font-family: "BPG Mrgvlovani Caps 2010";
  font-size: 3.6rem;
  font-weight: 400;
}
.free-learning-heading {
  color: #4949e9;
  font-family: "BPG Mrgvlovani Caps 2010";
  font-size: 3rem;
  font-weight: 400;
}
.section-one-para {
  color: rgba(0, 0, 0, 0.7);
  font-family: "BPG Glaho";
  font-size: 1.6rem;
  font-weight: 400;
}
.section-one-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}
.learn-more-btn {
  border-radius: 6px;
  background-color: #dcf343;
  border: none;
  color: #1d1929;
  font-family: "BPG Nino Mtavruli";
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.4rem 4.1rem;
}
.success-img {
  width: 49rem;
  height: 35.7rem;
  margin: 7.4rem 7.7rem 2rem 0;
}

/* SECTION 2 */
.programms-box {
  max-width: 124rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  overflow: hidden;
  transition: transform 0.7s ease;
}
.box {
  width: 19rem;
  height: 13rem;
  background-color: #dbe5ff;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.7s ease;
}

.programms-heading {
  font-family: "BPG Mrgvlovani Caps 2010";
  font-weight: 400;
  font-size: 3.2rem;
  text-align: center;
}

.programm-name,
.programm-name:link,
.programm-name:active {
  font-family: "BPG Glaho";
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.51rem;
  text-align: center;
  color: #040404;
}
.programm-name:hover,
.programm-name:visited {
  cursor: pointer;
}

/* Section 3 */
.section-three {
  background-color: #4949e9;
  padding-bottom: 7.7rem;
}

.next-btn-div-left {
  position: absolute;
  top: 50%;
  left: -2.1%;
  transform: translate(-50%, -50%);
}

.next-btn-div-right {
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translate(-50%, -50%);
}
.left-btn,
.right-btn {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-btn:hover,
.right-btn:hover {
  cursor: pointer;
}
.click {
  height: 3.6rem;
  width: 3.6rem;
}
.active {
  display: block;
}
.hidden {
  display: none;
}
.requested-courses-sec {
  display: grid;
  max-width: 124rem;
  height: 39.8rem;
  /* width: 86.1%; */
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* overflow-x: auto; */
  gap: 2rem;
  position: relative;
}

.requested-courses-heading {
  font-family: "BPG Mrgvlovani Caps 2010";
  font-size: 3.2rem;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding: 3.3rem 0 3rem 0;
}
.sect-three-container {
  max-width: 134rem;
  margin: 0 auto;
  position: relative;
}
.yellow-dots {
  position: absolute;
  top: -22.5%;
  right: -4%;
  /* z-index: 1000; */
}
.left-circles {
  position: absolute;
  left: -5%;
  top: -19%;
}
.right-circles {
  position: absolute;
  right: -4.5%;
  bottom: -15%;
}
.each-course {
  padding: 2.3rem 2.5rem 2.3rem 2.6rem;
  background-color: #ffffff;
  border-radius: 1rem;
  transition: transform 0.7s ease;
}

.img-box {
  /* width: 24.4rem; */
  width: 100%;
  height: 17.7rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-size: cover;
  border-radius: 0.8rem;
}
.star-emojiS {
  margin: 0 0 0.6rem 1rem;
}
.img-box-one {
  background-image: linear-gradient(to bottom, #fffdfd00, #3131e4),
    url("../images/top-sect-photos/image\ 6.png");
}
.img-box-two {
  background-image: linear-gradient(to bottom, #fffdfd00, #3131e4),
    url("../images/top-sect-photos/image\ 2.png");
}
.img-box-three {
  background-image: linear-gradient(to bottom, #fffdfd00, #3131e4),
    url("../images/top-sect-photos/image\ 3.png");
}
.img-box-four {
  background-image: linear-gradient(to bottom, #f1ebeb00, #3131e4),
    url("../images/top-sect-photos/image\ 4.png");
}
/* .full-heart {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: -5%;
  right: -5%;
  z-index: 1000;
} */
.empty-heart,
.full-heart {
  background-color: #fff;
  padding: 1rem;
  clip-path: circle(50%);
  position: absolute;
  cursor: pointer;

  top: -5%;
  right: -5%;
  z-index: 1000;
  width: 4.4rem;
  height: 4.4rem;
}
.course-name {
  color: #2c2c2c;
  font-size: 1.6rem;
  font-family: "BPG Glaho";
  font-weight: 400;
  line-height: 2rem;
  margin-top: 1.6rem;
  max-width: 21rem;
}
.course-details {
  display: flex;
  justify-content: space-between;
}

.details-left,
.details-right {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.details-text {
  color: #2c2c2c;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "BPG Glaho";
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}
.details-icon {
  width: 1.6rem;
  height: 1.6rem;
}
.details-box {
  display: flex;
  justify-content: center;
  margin-top: 2.09rem;
}
.details-btn {
  height: 3.2rem;
  width: 16.7rem;
  border: none;
  background-color: #dcf343;
  border-radius: 0.6rem;
}
.heart {
  background-color: red;
}
