/* Reset CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}

/* mentors section style */
.mentors-heading {
  font-size: 32px;
  display: flex;
  justify-content: center;
  margin: 38px 0 23px 0;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-weight: 400;
}

.mentors {
  display: flex;
  justify-content: center;
}

.mentors-slider {
  overflow: hidden;
  position: relative;
  max-height: 436px;
  margin-top: 15px;
}

.slider {
  transition: transform 0.7s ease;
}

.person-box {
  box-shadow: 5px 10px 18px #4949e940;
  border-radius: 2%;
  display: flex;
  flex-direction: row;
  background-color: #f5f8ff;
  width: 490px;
  height: 132px;
  margin: 20px;
}

.person-img {
  margin: 24px 0 8px 16px;
}

.person-name {
  font-size: 20px;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-weight: 400;
}

.direction {
  font-size: 14px;
  background-color: #dbe5ff;
  margin-top: 12px;
  font-family: "BPG Nino Mtavruli", sans-serif;
}

.information {
  margin: 24px 16px 24px 24px;
}

.mentors-image-with-frames {
  display: grid;
  grid-template-columns: 10% 2.9% 1fr 1fr 1fr 13% 8%;
  grid-template-rows: 4% 1fr 1fr 26.5% 10%;
  overflow: hidden;
  width: 100%;
}

.mentors-picture {
  grid-column: 3/7;
  grid-row: 2/7;
  width: 750px;
}

.frame-1 {
  z-index: 1;
  grid-column: 6;
  grid-row: 1;
}

.frame-2 {
  z-index: 1;
  grid-column: 2;
  grid-row: 4;
}

/* Students experience section style */
.students-experience {
  background: linear-gradient(180deg, #e9efff 0%, rgba(233, 239, 255, 0) 100%);
  justify-content: center;
  display: flex;
}

.students-arrow {
  margin-top: 20px;
}

.students-students {
  margin: 0 129px 46px 128px;
}

.students-heading {
  font-size: 32px;
  font-family: "BPG Mrgvlovani Caps 2010", sans-serif;
  text-align: center;
  margin-top: -120px;
}

.students-paragraph {
  font-size: 20px;
  font-family: "BPG Arial", sans-serif;
  margin-top: 46px;
}

.students-exp-description {
  width: 731px;
  height: 290px;
  color: #000000b2;
}

.students-exp-link {
  color: unset;
}

.students-exp-btn {
  background-color: #4949e9;
  font-family: "BPG Nino Mtavruli", sans-serif;
  color: #ffffff;
  padding: 11px 43px 12px 44px;
  font-size: 20px;
  width: 189px;
  margin-top: 61px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.students-exp-p-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.students-exp-everything:last-child {
  display: flex;
  justify-content: flex-end;
}

/* Students experience section style */
.students-experience {
  background: linear-gradient(180deg, #e9efff 0%, rgba(233, 239, 255, 0) 100%);
  justify-content: center;
  display: flex;
}

.students-arrow {
  margin-top: 20px;
}

.students-students {
  margin: 0 129px 46px 128px;
}

.students-heading {
  font-size: 32px;
  font-family: "BPG Mrgvlovani Caps 2010", sans-serif;
  text-align: center;
  margin-top: -120px;
}

.students-paragraph {
  font-size: 20px;
  font-family: "BPG Arial", sans-serif;
  margin-top: 46px;
}

.students-exp-description {
  width: 731px;
  height: 290px;
  color: #000000b2;
}

.students-exp-link {
  color: unset;
}

.students-exp-btn {
  background-color: #4949e9;
  font-family: "BPG Nino Mtavruli", sans-serif;
  color: #ffffff;
  padding: 11px 43px 12px 44px;
  font-size: 20px;
  width: 189px;
  margin-top: 61px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.students-exp-p-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.students-exp-everything:last-child {
  display: flex;
  justify-content: flex-end;
}

/* new-courses section style */
.new-courses {
  background-color: #4949e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.new-courses-heading {
  display: flex;
  color: #fff;
  align-items: center;
  margin: 49px 0 26px 0;
}

.new-courses-h1 {
  font-size: 32px;
  font-family: "BPG Mrgvlovani Caps 2010", sans-serif;
  font-weight: normal;
  margin-right: 692px;
}

.new-courses-more {
  font-family: "BPG Glaho", sans-serif;
  color: unset;
  font-size: 16px;
}

.new-courses-full-card {
  display: grid;
  grid-template-columns: 0% 14% 3% 1fr 2.8% 12% 0%;
  grid-template-rows: 40% 1fr 40%;
  justify-content: center;
  overflow: hidden;
}

.new-courses-arrow-left {
  grid-column: 3;
  grid-row: 2;
  z-index: 1;
  cursor: pointer;
}

.new-courses-arrow-right {
  grid-row: 2;
  grid-column-end: 6;
  cursor: pointer;
}

.new-courses-dots1 {
  grid-column-end: 2;
}

.new-courses-dots2 {
  grid-row: 3;
  grid-column-end: 6;
}

.new-courses-cards-grid {
  grid-column-start: 4;
  display: flex;
  gap: 21px;
}

.new-courses-entire-card {
  background-color: white;
  width: 295px;
  height: 392px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
}

.new-courses-card-background {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.new-courses-card {
  display: grid;
  grid-template-rows: 10% 15% 1fr 1%;
  grid-template-columns: 45% 1fr 20%;
  width: 260px;
  height: 206px;
}

.new-courses-fullheart,
.new-courses-emptyheart {
  grid-row: 1;
  grid-column: 3;
  z-index: 1;
  padding: 10px;
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 0 0 0 10px white;
  clip-path: circle(50%);
  cursor: pointer;
}

.new-courses-card-image {
  grid-row: 2;
}

.purple-shadow {
  grid-row: 5;
  margin-bottom: 10px;
}

.new-courses-stars {
  grid-row: 4;
  margin-left: 15px;
  margin-top: 60px;
}

.new-courses-h4 {
  font-size: 16px;
  font-family: "BPG Glaho", sans-serif;
  font-weight: normal;
  margin-left: 18px;
}

.new-courses-couples {
  display: flex;
  justify-content: space-between;
}

.new-courses-information {
  margin-left: 18px;
  font-family: "BPG Glaho", sans-serif;
}

.second-couple {
  margin-right: 46px;
  font-size: 12px;
}

.couple-text {
  margin-left: 8px;
}

.button-center {
  display: flex;
  justify-content: center;
}

.new-courses-btn {
  background-color: rgba(220, 243, 67, 1);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: black;
  padding: 10px 44px 6px 44px;
  font-family: "BPG Nino Mtavruli";
  margin-top: 21px;
}

/* recomendations styles */
.recomendations-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 378px;
  border: 1px solid #dbe5ff;
  background: #e9efff;
}
.recomendation-wrapper {
  margin: 62px 100px 70px 100px;
  max-width: 1240px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.students-reviews {
  display: flex;
  width: 1240px;
  height: 170px;
  justify-content: center;
  gap: 20px;
}
.review-card {
  display: flex;
  width: 295px;
  height: 170px;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 4px 4px 10px 0px rgba(73, 73, 233, 0.4);
}
.review-card p {
  padding-top: 8px;
  padding-bottom: 2px;
  height: 96px;
  color: #000;
  font-family: "BPG Glaho";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.student-name {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  justify-content: space-between;
}
.avatar-studentname h6 {
  font-family: "BPG Nino Mtavruli";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}
.avatar-studentname {
  display: flex;
  align-items: center;
  gap: 8px;
}
.more {
  padding-right: 45px;
}

/* accordion styles - FAQ */
.accordion-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.accordion {
  max-width: 1140px;
  width: 100%;
  margin: 54px 100px 83px 100px;
}
.faq-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 31.46px;
  height: 44px;
}
.accordion-title {
  color: #2c2c2c;
  font-family: "BPG Mrgvlovani Caps 2010", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.faq {
  color: #000;
  font-family: "BPG Glaho", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.accordion-item {
  padding-top: 32.4px;
  padding-bottom: 15.62px;
  border-bottom: 1px solid #3a3aba;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}
.accordion-header p {
  color: #3a3aba;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accordion-content {
  display: none;
  background-color: transparent;
  padding-top: 38.91px;
  padding-bottom: 3.49px;
}
.accordion-content p {
  color: #000;
  font-family: "BPG Glaho", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accordion-arrow {
  transition: transform 0.3s ease;
}
.accordion-arrow.up {
  transform: rotate(180deg);
}

/* footer styles */
.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #4949e9;
  height: 350px;
}
.footer-container {
  max-width: 1240px;
  width: 100%;
  height: 252px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-container li {
  color: #ffffff;
}
.footer-container a {
  color: #ffffff;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.store-icons {
  display: flex;
  flex-direction: column;
}
.copy {
  font-family: "BPG Arial", sans-serif;
  color: #dcf343;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.footer-nav li,
h4 {
  margin-bottom: 24px;
}
.contact-icon {
  width: 25px;
}
.contact-address-icon {
  height: 25px;
}
.mailto {
  font-size: 24px;
  margin-left: 5px;
}
.contact-address {
  font-size: 16px;
  margin-left: 6.63px;
}
.playstore {
  margin-bottom: 17px;
}
.soc-icons {
  width: 349px;
  display: inline-flex;
  align-items: center;
  gap: 29px;
}
.callto {
  margin-left: 8px;
}
/* Scroll top btn styles */
#scrollTopBtn {
  position: fixed;
  bottom: 39px;
  right: 39px;
  display: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1000;
  border: none;
}
